<h1 align="center"> Data Science Tools and Ecosystem </h1>

<h2 align="center"> In this notebook, Data Science Tools and Ecosystem are summarized.</h2>

<h3 align="center"> Some of the popular languages that Data Scientists use are:</h3>

1. Python
2. R
3. SQL

<h3 align="center"> Some of the commonly used libraries used by Data Scientists include:</h3>

1. Pandas
2. TensorFlow
3. Matplotlib

| Data Science Tools|
| :------|
| Anaconda |
| Jupyterlabs | 
| Apache Spark |

<h3 align="center"> Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200 // 60

3

**Objectives:**
- List popular languages for Data Science
- List popular frameworks for Data Science
- List popular tools for Data Science

## Author
Chandler Mckane