<h1 align="center"> Data Science Tools and Ecosystem </h1>

<h2> In this notebook, Data Science Tools and Ecosystem are summarized.</h2>

---

<h3 > Some of the popular languages that Data Scientists use are:</h3>

1. Python
2. R
3. SQL

<h3 > Some of the commonly used libraries used by Data Scientists include:</h3>

1. Pandas
2. TensorFlow
3. Matplotlib


<table style="float:left;">
    <tr>
        <th style="text-align: center;"> Data Science Tools</th>
    </tr>
    <tr>
        <td style="text-align: left;">Anaconda</td>
    </tr>
    <tr>
        <td style="text-align: left;">Jupyterlabs</td>
    </tr>
    <tr>
        <td style="text-align: left;">Apache Spark</td></tr>

<h3 align="center"> Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 // 60

3

**Objectives:**
- List popular languages for Data Science
- List popular frameworks for Data Science
- List popular tools for Data Science

---

## Author
Chandler Mckane